*{
    margin: 0%;
}
.wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1002px 1fr;
    grid-template-rows: 612px 1972px 408px;
    background-color: #E5E5E5;
}

.grid-item1 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 272px 272px 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item2 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 612px 680px 1fr 1fr;
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item3 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 68px 1fr;
    grid-row: 3/4;
    grid-column: 2/3;
}

section {
    display: flex;
}

.header-container1 {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #C7DDEA;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F17949;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container3 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FAB131;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-item-nav {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: space-evenly;
}


.main-container1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #A9A19E;
    flex-direction: column;
}

.main-container2 {
    grid-column: 1/4;
    grid-row: 1/2;
    flex-direction: column;
    background-color: #FAB131;
    justify-content: center;
    align-items: center;
}
    


.main-container3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #C7DDEA;
    align-items: center;
    justify-content: center;
}

.main-container4 {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
}

.main-container5 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #EBEBEB;
}

.main-container6 {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #FFFFFF;
    
}

.main-container7 {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #F17949;
}

.main-container8 {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #FFFFFF;
}

.footer-container1{
    grid-row: 1/2;
    background-color: #A9A19E;
}

.footer-container2{
    grid-row: 2/3;
    background-color: #777574;
}

button {
    background-color: #FFFFFF;
    height: 39px;
    width: 131px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
}
nav>ul>li {
    display: inline;
    color: grey;
    padding-right: 30px;
    padding-left: 30px;
}


.navbar {  /* todo: check that we're suppose to adjust for what's most efficent or just as it says */
    display: flex;
    flex-direction: row;
    height: 68px;
    width: auto; 
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 68px;  /* todo: fix height to be dynamic */
    margin: 0;
    padding: 0;
    opacity: 0.4; /* need to doubble check if i'm just fooling my self */
    color: #000000;
}
.navbar_list a:hover{ /* todo: fix the look to make it look darker, it just dosen't look right */
    color: #000000;
}
.contact_header { /* todo: want to clean up the grid */
    width: 100%;
    height: 340px; /* todo: fix height to be dynamic */
    background: #C7DDEA;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    
}
.contact_header_text { /* todo: fit text to box in " oh hello there" or check i they want it to be dynamic */
    display: grid;
    grid-area: 5 / 4 / 7 / 6;
    font-weight: 900; /* reminder:it won't fit that well beacuse i designate the size of the text */
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}
.contact_input {
    width: 1002px;
    height: 544px;
    left: 219px;
    top: 408px;
    background: #A9A19E;
}
.contact_map {
    width: 1002px;
    height: 407px;
    left: 219px;
    top: 952px;
    background-color: brown; /* todo:find the right .png and remove the place holder brown */
   /*  background: url(.png); */
}
.contact_empty_footer { /* todo: find out why it's there while not holding a function */
    width: 1002px;
    height: 340px;
    left: 219px;
    top: 1359px;
    background: #777574;
}


h2{
    color: white;
    text-align: center;
    
}

a{
        color: grey;
        cursor: pointer;
        text-decoration: none;

}
a:hover{
    color: black;
}

}
