* {
    margin: 0%;
}

.wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1002px 1fr;
    grid-template-rows: 612px 1972px 408px;
    background-color: #E5E5E5;
    padding-left: 6%;
    padding-right: 6%;
}

.wrapper2 {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: #E5E5E5;
}

.grid-item {
    display: grid;
    max-width: 100%;
}

.grid-item1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 46% 46% 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 612px 680px 1fr 1fr;
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item3 {
    grid-template-columns: 1fr;
    grid-template-rows: 68px 1fr;
    grid-row: 3/4;
    grid-column: 2/3;
}

.grid-item-nav {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: space-evenly;
}

section {
    display: flex;
}

.header-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container1 {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #C7DDEA;
    flex-direction: column;
}

.header-container2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F17949;
}

.header-container3 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FAB131;
}

.main-container1 {
    grid-column: 1/4;
    background-color: #A9A19E;
}

.heading-box1 {
    width: 314px;
    height: 101px;
    align-self: center;
    margin-top: 60px;
}

.heading-box1 h1 {
    text-align: left;
}

.para-box1 {
    width: 280px;
    height: 103px;
    align-self: center;
    margin-right: 40px;
}

.heading-box2 h1 {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    width: 340px;
    height: 140px;
    color: #FFFFFF;
    font-family: Frank Ruhl Libre;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em
}

.heading-box3 h1 {
    color: white;
}

.heading-box3 {
    margin-top: 90px;
}

.para-box2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 80px;
    margin-left: 600px;
    width: 280px;
    height: 237px;
    flex-direction: column;
    justify-self: flex-end;
}

.para-box3 {
    width: 442px;
    height: 280px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button1 {
    align-self: center;
    margin-left: 80px;
}

.button2 {
    margin-left: 100px;
    position: absolute;
    margin-top: -604px;
    /* reminder: this is a really bad fix for the button2 item */
}

.white-box {
    position: absolute;
    width: 256px;
    height: 308px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
}

.white-box1 {
    margin-left: 90px;
}

.white-box2 {
    margin-left: 375px;
}

.white-box3 {
    margin-left: 660px;
}

.picture-box {
    position: absolute;
    width: 236px;
    height: 150px;
    border-radius: 4px;
    margin-top: 420px;
    overflow: hidden;
}

.picture-box1 {
    background-color: #C7DDEA;
    margin-left: 100px;
}

.picture-box2 {
    background-color: #FAB131;
    margin-left: 385px;
}

.picture-box3 {
    background-color: #F17949;
    margin-left: 670px;
}

.white-box-heading {
    position: absolute;
    width: 198px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 25px;
}

/* .white-box-heading h6 {

} */

.white-box-heading-header {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.white-box-para {
    position: absolute;
    width: 214px;
    height: 108px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    margin-top: 175px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.main-container2 {
    grid-column: 1/4;
    flex-direction: column;
    background-color: #FAB131;
    justify-content: center;
    align-items: center;
}

.main-container3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #C7DDEA;
    align-items: center;
    justify-content: center;
}

.main-container4 {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.main-container5 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #EBEBEB;
    grid-auto-flow: row;
}

.main-container6 {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.main-container7 {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #F17949;
    grid-auto-flow: row;
}

.main-container8 {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.number-box {
    position: absolute;
    width: 100%;
    height: 11%;
    display: flex;
    /* align-items: center; */
    text-align: center;
    letter-spacing: -0.02em;
    padding: 3%;
    font-family: Frank Ruhl Libre;
    /* font-style: normal; */
    /* font-weight: 900; */
    font-size: 200%;
    color: rgba(0, 0, 0, 0.4);
}

.text-box {
    display: flex;
    width: 100%;
    height: 11%;
    /* align-content: center; */
    justify-content: center;
    text-align: center;
    align-self: center;
    /* justify-self: center;
    padding-left: 30px;
    padding-top: 40px; */
}

.heading-align {
    text-align: left;
}

h1 {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}

h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    /* reminder: it says 500 font-weight but it dosn't look right */
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

h5 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-container1 {
    grid-row: 1/2;
    background-color: #A9A19E;
    align-items: center;
    justify-content: center;
}

.footer-container2 {
    grid-row: 2/3;
    background-color: #777574;
}

button {
    background-color: #FFFFFF;
    height: 39px;
    width: 131px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    top: 913px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
}

nav>ul>li {
    display: inline;
    color: grey;
    padding-right: 55px;
    padding-left: 55px;
    font-family: Fira Sans;
    font-style: normal;
    font-size: 12px;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 68px;
    width: auto;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 68px;
    /* todo: fix height to be dynamic */
    margin: 0 15% 0 15%;
    padding: 0;
    opacity: 0.4;
    color: #000000;
    /* need to doubble check if the color is of or i'm just fooling my self */
}

.navbar_list a:hover {
    color: #000000;
    /* todo: fix the look to make it look darker, it just dosen't look right */
}

.contact_header {
    /* todo: want to clean up the grid */
    height: 340px;
    /* todo: fix height to be dynamic */
    display: grid;
    max-width: 100%;
    background: #C7DDEA;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.contact_header_text {
    /* todo: fit text to box in " oh hello there" or check i they want it to be dynamic */
    display: grid;
    grid-area: 5 / 4 / 7 / 6;
    font-weight: 900;
    /* reminder:it won't fit that well beacuse i designate the size of the text */
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.contact_header_img {
    display: grid;
    grid-area: 2 / 7 / 9 / 9;
    background-image: url(WebsiteMuscleMan.png);
    background-repeat: no-repeat;
}

.contact_input {
    width: 100%;
    height: 544px;
    background: #A9A19E;
}

.contact_map {
    width: 92%;
    /* reminder: the reduced width fixes the padding issue with the yellow box */
    height: 407px;
    padding: 4%;
    background: url(Map.png);
}

.contact_empty_footer {
    /* todo: find out why it's there while not holding a function */
    width: 100%;
    height: 340px;
    background: #777574;
}

a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
}

.text-container {
    padding-top: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contact_input {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.contact_input_email_container {
    display: grid;
    grid-area: 1/2/1/2;
    margin-bottom: -9%;
}

.contact_input_message_container {
    display: grid;
    grid-area: 2/2/2/2;
    margin-top: -10%;
}

.contact_input_header {
    display: grid;
    grid-area: 1/1/1/1;
}

.contact_input_container_text {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    height: 150%;
    margin-top: 3%;
}

.contact_input_container_form1 {
    /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    border-radius: 2px;
    height: 20%;
    margin-bottom: -14%;
}

.contact_input_container_form2 {
    /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    border-radius: 2px;
    height: 94%;
}

.contact_input_container_form_textarea {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    width: 80%;
    height: 100%;
    padding: 3%;
    border: none;
}

.contact_input_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 12%;
    display: grid;
    grid-area: 3/2/3/2;
    justify-self: right;
    margin-right: 13.7%;
}

.contact_input_header {
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-right: 28%;
    margin-top: 19%;
}

.contact_map_text_box {
    display: grid;
    grid-template-rows: 2;
    width: 323px;
    height: 206px;
    left: 305px;
    top: 997px;
    background: #FAB131;
}

.contact_map_text_large {
    margin: 6%;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    margin-bottom: -21%;
    margin-top: -9%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.contact_map_text_small {
    margin: 6%;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.index_container1_familypicture {
    display: flex;
    /* grid-area: 2 / 7 / 9 / 9; */
    justify-content: right;
    align-self: flex-end;
    width: 286px;
    height: 279px;
}

.picture-box-picture-size {
    display: flex;
    /* size: 20%; */
    /*  height: 20%;
    width: 20%;*/
    /* height: inherit; reminder: this one makes them all fit in the box */
    height: 281%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    overflow: hidden;
    margin-top: 8%;
    /*     clip: rect(0px, 235px, 150px, 0px); reminder testing pourpose*/
}

.picture-box-picture-size-kid-kid {
    height: 122%;
}

.para-box-text-p {
    font-family: Fira Sans;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 87%;
    line-height: 179%;
    color: rgba(0, 0, 0);
}

.para-box-text-p-white {
    color: white;
}

.footer-container-text {
    font-weight: 800;
    color: rgba(0, 0, 0);
}

/* @media only screen and (max-width: 414px) {
    .wrapper {
        position: relative;
        width: 375px;
        height: 4758px;
        background: #EBEBEB;
        padding: 0%;
    }
    .header-container1 {
        width: 375px;
        height: 780px;
        flex-direction: column;
    }
    .button2 {
        position: static;
        margin-top: 55px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .header-container2 {
        position: absolute;
        width: 375px;
        height: 315px;
        left: 0px;
        top: 724px;
    }
    .header-container3 {
        position: absolute;
        width: 375px;
        height: 315px;
        left: 0px;
        top: 427px;
    }
    .main-container1 {
        position: absolute;
        width: 375px;
        height: 1580px;
        left: 0px;
        top: 1354px;
    }
    .main-container2 {
        position: absolute;
        width: 375px;
        height: 550px;
        left: 0px;
        top: 2934px;
        background: #FAB131;
    }
    .main-container3 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3484px;
        background: #C7DDEA;
    }
    .main-container4 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3654px;
        background: #FFFFFF;
    }
    .main-container5 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3824px;
        background: #EBEBEB;
    }
    .heading-align {
        position: absolute;
        width: 342px;
        height: 140px;
        left: 16px;
        top: 1391px;
    }
    .index_container1_familypicture {
        width: 330px;
        height: auto;
        align-self: center;
    }
    .grid-item-nav {
        display: none;
    }
    .heading-box2 h1 {
        position: static;
        margin-left: 15px;
        margin-top: 15px;
        justify-content: flex-start;
    }
    .para-box2 {
        margin: 0;
        padding-left: 15px;
        width: 320px;
        margin-top: 160px;
    } */
