* {
    margin: 0%;
}

body {
    background-color: #E5E5E5;
}

.wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 70% 1fr;
    /*grid-template-rows: 25% 80% 15%;*/
    background-color: #E5E5E5;
}

.wrapper2 {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: #E5E5E5;
}

.grid-item {
    display: grid;
    max-width: 100%;
}

.grid-item1 {
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 45% 45% 1fr;*/
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item2 {
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 25% 30% 1fr 1fr;*/
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item3 {
    grid-template-columns: 1fr;
   /* grid-template-rows: 30% 1fr;*/
    grid-row: 3/4;
    grid-column: 2/3;
}

.grid-item-nav {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: space-evenly;
}

section {
    display: flex;
}


.header-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container1 {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #C7DDEA;
    flex-direction: column;
    padding-top: 15%;
    min-height: 544px;
}
.heading-box1 {
    max-width: 314px;
    max-height: 101px;
    align-self: center;
}

.heading-box1 h1 {
    text-align: left;
}

.para-box1 {
    max-width: 280px;
    max-height: 103px;
    align-self: center;
}
.family-container {
    align-self: flex-end;
    margin-right: 4%;
    max-width: 286px;
    max-height: 279px;

}
.header-container2 .header-container3 {
    grid-column: 2/3;
    
}

.header-container2 {
    grid-row: 1/2;
    background-color: #F17949;
    min-height: 272px;
    
}

.header-container3 {
    grid-row: 2/3;
    background-color: #FAB131;
    min-height: 272px;
    
}


.grid-item-nav {
    min-height: 68px;
}

.main-container1 {
    grid-column: 1/4;
    background-color: #A9A19E;
    min-height: 614px;
    display: flex;
    flex-direction: column;
}
.content-container {
    display: block;
    min-height: 500px ;
    display: flex;
    flex-wrap: wrap;
}


.heading-box2 h1 {
    text-align: left;
    color: #FFFFFF;
    font-family: Frank Ruhl Libre;
    font-weight: 900;
    font-size: 2.813em;
    line-height: 100%;
    letter-spacing: -0.02em
}
.heading-box2{
    max-width: 340px;
    max-height: 140px;
    padding-top: 10%;
    padding-left: 15%;
}

.heading-box3 h1 {
    color: white;
}

.heading-box3 {
    padding: 10% 0 3% 0;

}

.para-box2 {
    align-items: center;
    justify-content: center;
    max-width: 17.500em;
    min-height: 14.813em;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-start;
    padding: 5% 3% 0 20%;
}

.para-box3 {
    max-width: 27.625em;
    max-height:17.500em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button1 {
    align-self: center;
    margin-top: 7%;
    margin-left: 5%;


}

.button2 {
    margin-top: 13%;
    margin-left: 30%;


}
.white-box-container {
    display: flex;
    width: 100%;
    min-height: 308px;
    max-width: 950px;
    align-content: space-between;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    /*margin-left: 10%;*/
    margin-bottom: -1%;
    z-index: 1;
}
.white-box {
    min-width: 256px;
    /*max-height: 308px;*/
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;

}

/* .white-box1 {
 
}
.white-box2 {
    
}
.white-box3 {
} */

.picture-box-container {
    display: flex;
    max-width: 850px;
    max-height: 150px;
    align-self: center;
    justify-self: center;
    margin-left: -20%;
}
.picture-box {
    display: flex;
    max-width: 236px;
    max-height: 150px;
    border-radius: 4px;
    overflow: hidden;
    align-self: center;
    justify-self: center;
 /*    padding: 1%; */
/*     margin-top: -104%;
    margin-right: -8%; */
    width: 90%;
    margin: -10% 2% 10% 4%;
}

.picture-box1 {
    background-color: #C7DDEA;
}

.picture-box2 {
    background-color: #FAB131;
}

.picture-box3 {
    background-color: #F17949;
    /*     background-image: url(img/old.png); */
}

.white-box-heading {
    max-width: 198px;
    max-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0 0 10%;
 

}

.white-box-heading-header {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 1.000em;
    line-height: 1.250em;
    color: rgba(0, 0, 0, 0.9);
}

.white-box-para {
    max-width: 214px;
    max-height: 108px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.688em;
    line-height: 1.125em;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 5% 0 0 7%;
}

.main-container2 {
    grid-column: 1/4;
    flex-direction: column;
    background-color: #FAB131;
    justify-content: center;
    align-items: center;
    min-height: 680px;
    margin-top: -11%;
}

.main-boxes {
    min-height: 340px;
}
.main-container3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #C7DDEA;
    align-items: center;
    justify-content: center;
}

.main-container4 {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.main-container5 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: #EBEBEB;
    grid-auto-flow: row;
}

.main-container6 {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.main-container7 {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #F17949;
    grid-auto-flow: row;
}

.main-container8 {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.number-box {
    width: 100%;
    height: 11%;
    display: flex;
    /*  text-align: center; */
    letter-spacing: -0.02em;
    padding: 3%;
    font-family: Frank Ruhl Libre;
    font-size: 200%;
    color: rgba(0, 0, 0, 0.4);
}

.text-box {
    display: flex;
    width: 100%;
    height: 11%;
    justify-content: center;
    text-align: center;
    align-self: center;
}

h1 {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 2.813em;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.000em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}

h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    /* reminder: it says 500 font-weight but it dosn't look right */
    font-size: 1.063em;
    line-height: 1.250em;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-self: center;
    padding-right: 115%;
}

h5 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.688em;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-container1 {
    grid-row: 1/2;
    background-color: #A9A19E;
    align-items: center;
    justify-content: center;
    min-height: 68px;
}

.footer-container2 {
    grid-row: 2/3;
    background-color: #777574;
    min-height: 340px;
}

button { /* reminder: the button is using pixels in order to determen the size */
    background-color: #FFFFFF;
    height: 39px;
    width: 131px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    top: 913px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.625em;
    line-height: 12px;
    align-items: center;
    text-align: center;
}

nav>ul>li {
    display: inline;
    color: grey;
    font-family: Fira Sans;
    font-style: normal;
    font-size: 0.750em;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 68px;
    /* todo: fix height to be dynamic */
    margin: 0 15% 0 15%;
    padding: 0;
    opacity: 0.4;
    color: #000000;
    /* need to doubble check if the color is of or i'm just fooling my self */
}

.navbar_list a:hover {
    color: #000000;
    /* todo: fix the look to make it look darker, it just dosen't look right */
}

.contact_header {
    /* todo: want to clean up the grid */
    height: 340px;
    /* todo: fix height to be dynamic */
    display: grid;
    max-width: 100%;
    background: #C7DDEA;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.contact_header_text {
    /* todo: fit text to box in " oh hello there" or check i they want it to be dynamic */
    display: grid;
    grid-area: 5 / 4 / 7 / 6;
    font-weight: 900;
    /* reminder:it won't fit that well beacuse i designate the size of the text */
    font-size: 2.813em;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.contact_header_img {
    display: grid;
    grid-area: 2 / 7 / 9 / 9;
    background-image: url(WebsiteMuscleMan.png);
    background-repeat: no-repeat;
}

.contact_input {
    width: 100%;
    height: 544px;
    background: #A9A19E;
}

.contact_map {
    width: 92%;
    /* reminder: the reduced width fixes the padding issue with the yellow box */
    height: 407px;
    padding: 4%;
    background: url(Map.png);
}

.contact_empty_footer {
    width: 100%;
    height: 340px;
    background: #777574;
}

a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
}

.text-container {
    padding-top: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.contact_input {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.contact_input_email_container {
    display: grid;
    grid-area: 1/2/1/2;
    margin-bottom: -9%;
}

.contact_input_message_container {
    display: grid;
    grid-area: 2/2/2/2;
    margin-top: -10%;
}

.contact_input_header {
    display: grid;
    grid-area: 1/1/1/1;
}

.contact_input_container_text {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875em;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    height: 150%;
    margin-top: 3%;
}

.contact_input_container_form1 {
    /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    border-radius: 2px;
    height: 20%;
    margin-bottom: -14%;
}

.contact_input_container_form2 {
    /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    border-radius: 2px;
    height: 94%;
}

.contact_input_container_form_textarea {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
    width: 80%;
    height: 100%;
    padding: 3%;
    border: none;
}

.contact_input_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 12%;
    display: grid;
    grid-area: 3/2/3/2;
    justify-self: right;
    margin-right: 13.7%;
}

.contact_input_header {
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 2.813em;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-right: 28%;
    margin-top: 19%;
}

.contact_map_text_box {
    display: grid;
    grid-template-rows: 2;
    width: 323px;
    height: 206px;
    left: 305px;
    top: 997px;
    background: #FAB131;
}

.contact_map_text_large {
    margin: 6%;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 2.813em;
    line-height: 100%;
    margin-bottom: -21%;
    margin-top: -9%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.contact_map_text_small {
    margin: 6%;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.500em;
    color: rgba(255, 255, 255, 0.8);
}

.index_container1_familypicture {
    display: flex;
    justify-content: right;
    align-self: flex-end;
    width: 286px;
    height: 279px;
}

.picture-box-picture-size {
    display: flex;
    height: 281%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    overflow: hidden;
    margin-top: 8%;
}

.picture-box-picture-size-kid-kid {
    height: 122%;
}

.para-box-text-p {
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 87%;
    line-height: 179%;
    color: rgba(0, 0, 0);
}

.para-box-text-p-white {
    color: white;
}

.footer-container-text {
    font-weight: 800;
    color: rgba(0, 0, 0);
    padding: 0;
}

.para-box-text-p-padding-top {
    padding-top: 25%;
}
.button1-flex-flow-container {
    flex-basis: 100%;
    margin-top: -13%;
    margin-left: 10%;
}

@media only screen and (max-width: 414px) {
    .grid-item {
        display: flex;
        /* grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr; */
        flex-flow: column;
    }
    .header-container1 {
        width: 100%;
    }
    .header-container2 {
        height: 18%;
    }
    .header-container3 {
        height: 18%;
    }
    .grid-item-nav {
        display: none;
    }
    .wrapper {
    display: flex;
    max-width: 100%;
    /* grid-template-columns: 100%; */
    /* grid-template-rows: 25% 80% 15%; */
    flex-flow: column;
    }
    .main-container1 {
        display: flex;
        flex-flow: column;
    }
    .heading-box2 {
        align-self: center;
    }
    .button1 {
        display: none;
    }
    .para-box-text-p {
        font-size: 0.875em;
        line-height: 1.500em;
    }
    .para-box2 {
        display: flex;
        align-self: center;
    }
/*     .para-box3 {


    } */
    .main-boxes {
        height: 10.625em;
    }
    .footer-container1 {
        display: none;
        min-height: 0%;
    }
    .main-container2 {
        min-height: 493px;
        padding: 6%;
    }
    .button2 {
        /* margin-top: 0%; */
        margin-left: 10%;
    }
    .index_container1_familypicture {
        width: 100%;
        height: 100%;
    }
    .white-box-container {
        flex-direction: column;
    }
    .content-container {
        flex-direction: column;
    }
    .para-box-text-p-padding-top {
        padding-top: 0%;
    }
}


/* @media only screen and (max-width: 414px){
{
    .wrapper {}
    .grid-item {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
    }
    .header-container1 {
        width: 100%;
    }
 {
    .wrapper {
        position: relative;
        width: 375px;
        height: 4758px;
        background: #EBEBEB;
        padding: 0%;
    }
    .header-container1 {
        width: 375px;
        height: 780px;
        flex-direction: column;
    }
    .button2 {
        position: static;
        margin-top: 55px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .header-container2 {
        position: absolute;
        width: 375px;
        height: 315px;
        left: 0px;
        top: 724px;
    }
    .header-container3 {
        position: absolute;
        width: 375px;
        height: 315px;
        left: 0px;
        top: 427px;
    }
    .main-container1 {
        position: absolute;
        width: 375px;
        height: 1580px;
        left: 0px;
        top: 1354px;
    }
    .main-container2 {
        position: absolute;
        width: 375px;
        height: 550px;
        left: 0px;
        top: 2934px;
        background: #FAB131;
    }
    .main-container3 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3484px;
        background: #C7DDEA;
    }
    .main-container4 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3654px;
        background: #FFFFFF;
    }
    .main-container5 {
        position: absolute;
        width: 375px;
        height: 170px;
        left: 0px;
        top: 3824px;
        background: #EBEBEB;
    }
    .heading-align {
        position: absolute;
        width: 342px;
        height: 140px;
        left: 16px;
        top: 1391px;
    }
    .index_container1_familypicture {
        width: 330px;
        height: auto;
        align-self: center;
    }
    .grid-item-nav {
        display: none;
    }
    .heading-box2 h1 {
        position: static;
        margin-left: 15px;
        margin-top: 15px;
        justify-content: flex-start;
    }
    .para-box2 {
        margin: 0;
        padding-left: 15px;
        width: 320px;
        margin-top: 160px;
    } */


    .main-content{

        display: block;
    }

    .container{

        max-width: 80%;
        margin: auto;
    }

    .flex-space-around{

        display: flex;
        justify-content: space-around;
    }