* {
    margin: 0%;
}

.wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1002px 1fr;
    grid-template-rows: 612px 1972px 408px;
    background-color: #E5E5E5;
}

.wrapper2 {
    display: flex;
    max-width: 100%;
    justify-content: center;
/*     grid-template-columns: 1fr 1002px 1fr;
    grid-template-rows: 612px 1972px 408px; */
    background-color: #E5E5E5;
}


.grid-item1 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 272px 272px 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item2 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 612px 680px 1fr 1fr;
    /* grid-row: 2/3;
    grid-column: 2/3; */
    grid-row: 2/3;
    grid-column: 2/3;
}

.grid-item3 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 68px 1fr;
    grid-row: 3/4;
    grid-column: 2/3;
}

section {
    display: flex;
}

.header-container1 {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #C7DDEA;
    flex-direction: column;
}

.header-container2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #F17949;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-container3 {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FAB131;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-item-nav {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: space-evenly;
}

.main-container1 {
    grid-column: 1/4;
    background-color: #A9A19E;
    
}
.heading-box1 {
    width: 314px;
    height: 101px;
    align-self: center;
    margin-top: 60px;
}
.heading-box1 h1 {
    text-align: left;
}
.para-box1 {
    width: 280px;
    height: 103px;
    align-self: center;
    margin-right: 40px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);

}

.heading-box2 h1 {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    width: 340px;
    height: 140px;
    color: #FFFFFF;
    font-family: Frank Ruhl Libre;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em
}

.heading-box3 h1 {
    color: white;

}
.para-box2 {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 80px;
    margin-left: 600px;
    width: 280px;
    height: 237px;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    justify-self: flex-end;
    
}

.para-box3 {
    width: 442px;
    height: 280px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.button1 {
    align-self: center;
    margin-left: 80px;
}
.button2{
    margin-top: 60px;
    margin-left: 100px;
    
}

.main-container2 {
    grid-column: 1/4;
    flex-direction: column;
    background-color: #FAB131;
    justify-content: center;
    align-items: center;
}

.main-container3 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #C7DDEA;
    align-items: center;
    justify-content: center;
}

.main-container4 {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
    grid-auto-flow: row;
}

.main-container5 {
    display: flex;
    grid-row: 3/4; grid-column: 3/4;
    background-color: #EBEBEB;
    grid-auto-flow: row;
    
}

.main-container6 {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: #FFFFFF;
    grid-auto-flow: row;
    
}

.main-container7 {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #F17949;
    grid-auto-flow: row;
    
}

.main-container8 {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #FFFFFF;
    grid-auto-flow: row;
   
}

.number-box {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 20px;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    /* or 35px */
    letter-spacing: -0.02em;
    /* margin: 2rem; */
    color: rgba(0, 0, 0, 0.4);
}

.text-box {
    display: flex;
    width: 257px;
    height: 113px;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding-left: 30px;
    padding-top: 40px;
}

.heading-align {
    text-align: left;


}
h1 {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}

h3 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);

}

h5 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.footer-container1 {
    grid-row: 1/2;
    background-color: #A9A19E;
    align-items: center;
    justify-content: center;
}

.footer-container2 {
    grid-row: 2/3;
    background-color: #777574;
}

button {
    background-color: #FFFFFF;
    height: 39px;
    width: 131px;
    border-radius: 100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border: none;
    top: 913px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
}

nav>ul>li {
    display: inline;
    color: grey;
    padding-right: 55px;
    padding-left: 55px;
    font-family: Fira Sans;
    font-style: normal;
    font-size: 12px;
}

.navbar {
    /* todo: check that we're suppose to adjust for what's most efficent or just as it says */
    display: flex;
    flex-direction: row;
    height: 68px;
    width: auto;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 68px;
    /* todo: fix height to be dynamic */
    margin: 0;
    padding: 0;
    opacity: 0.4;
    /* need to doubble check if i'm just fooling my self */
    color: #000000;
}

.navbar_list a:hover {
    /* todo: fix the look to make it look darker, it just dosen't look right */
    color: #000000;
}

.contact_header {
    /* todo: want to clean up the grid */
/*     width: 100%;*/
    height: 340px; 
    /* todo: fix height to be dynamic */
    display: grid;
    max-width: 100%;
    background: #C7DDEA;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    /* grid-column: 3; */
}

.contact_header_text {
    /* todo: fit text to box in " oh hello there" or check i they want it to be dynamic */
    display: grid;
    grid-area: 5 / 4 / 7 / 6;
   /*  grid-column-start: 2; */
    font-weight: 900;
    /* reminder:it won't fit that well beacuse i designate the size of the text */
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.contact_header_img {
    display: grid;
    grid-area: 7 / 6 / 8 / 8;
    background-image: url(WebsiteMuscleMan.png);
}

.contact_input {
    width: 100%;
    height: 544px;
/*     left: 219px;
    top: 408px; */
    background: #A9A19E;
}

.contact_map {
    width: 92%; /* reminder: the reduced width fixes the padding issue with the yellow box */
    height: 407px;
/*     left: 219px;
    top: 952px; */
    padding: 4%;
    /* background-color: brown; */
    /* todo:find the right .png and remove the place holder brown */
     background: url(Map.png);
}

.contact_empty_footer {
    /* todo: find out why it's there while not holding a function */
    width: 100%;
    height: 340px;
/*     left: 219px;
    top: 1359px; */
    background: #777574;
}







a {
    color:gray;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: black;
}

.text-container {
    padding-top: 20px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.contact_input {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.contact_input_email_container {
    display: grid;
    grid-area: 1/2/1/2;
}

.contact_input_message_container {
    display: grid;
    grid-area: 2/2/2/2;
}

.contact_input_button {
    display: grid;
    grid-area: 3/2/3/2;
}

.contact_input_header {
    display: grid;
    grid-area: 1/1/1/1;
}

.contact_input_container_text {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    height: 150%
}


.contact_input_container_form1 { /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    /* background: #FEFEFE; */
    border-radius: 2px;
    height: 40%;
}

.contact_input_container_form2 { /* reminder: it does not look right and thet is right for the right reason don't left me behind right away */
    /* background: #FEFEFE; */
    border-radius: 2px;
    height: 100%;
}

.contact_input_container_form_textarea {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    letter-spacing: -0.02em;
    color: #000000;
    width: 80%;
    height: 100%;
/*     margin: 3%; */
}

.contact_input_button {
    display: flex;
  /*   align-self: center; */
    align-items: center;
    justify-content: center;
   /*  justify-content: right; */
    margin-top: 5%;
    margin-left: 55.7%;
}

.contact_input_header {
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: Frank Ruhl Libre;

    font-style: normal;
    font-weight: 900;
    font-size: 45px;
line-height: 100%;
/* or 45px */

letter-spacing: -0.02em;

color: #FFFFFF;
margin-right: 28%;
margin-top: 19%;
}

/* textarea { just here for testing purposes
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
} */

.contact_map_text_box {
    display: grid;
    grid-template-rows: 2;
    width: 323px;
    height: 206px;
    left: 305px;
    top: 997px;
    background: #FAB131;
}

.contact_map_text_large {
    margin: 6%;
    font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 100%;
/* identical to box height, or 45px */

letter-spacing: -0.02em;

color: #FFFFFF;

} 
.contact_map_text_small {
    margin: 6%;
    font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */


color: rgba(255, 255, 255, 0.8);
}