.navbar {  /* todo: check that we're suppose to adjust for what's most efficent or just as it says */
    display: flex;
    flex-direction: row;
    height: 68px;
    width: auto; 
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.navbar_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 68px;  /* todo: fix height to be dynamic */
    margin: 0;
    padding: 0;
    opacity: 0.4; /* need to doubble check if i'm just fooling my self */
    color: #000000;
}
.navbar_list a:hover{ /* todo: fix the look to make it look darker, it just dosen't look right */
    color: #000000;
}
.contact_header { /* todo: want to clean up the grid */
    width: 100%;
    height: 340px; /* todo: fix height to be dynamic */
    background: #C7DDEA;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    
}
.contact_header_text { /* todo: fit text to box in " oh hello there" or check i they want it to be dynamic */
    display: grid;
    grid-area: 5 / 4 / 7 / 6;
    font-weight: 900; /* reminder:it won't fit that well beacuse i designate the size of the text */
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}
.contact_input {
    width: 1002px;
    height: 544px;
    left: 219px;
    top: 408px;
    background: #A9A19E;
}
.contact_map {
    width: 1002px;
    height: 407px;
    left: 219px;
    top: 952px;
    background-color: brown; /* todo:find the right .png and remove the place holder brown */
   /*  background: url(.png); */
}
.contact_empty_footer { /* todo: find out why it's there while not holding a function */
    width: 1002px;
    height: 340px;
    left: 219px;
    top: 1359px;
    background: #777574;
}